<div>
	<h1>Account Page</h1>
	<colgroup>
		<col>
			<img class="media-object" src="{{account.picture}}" alt="Profile Picture" height="120" width="120">
		</col>
		<col>
			<h1>{{account.username}}'s Page <br><small> Email: {{account.email}} </small></h1>
		</col>
	</colgroup>
</div>
<a class="btn btn-primary btn-lg btn-block" href="/">Back</a>
