<html>
<head>
	<title>My HCI Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

     
</head>

<body>


<h1>Account Page</h1>
<a href="/">Homepage</a>


<script src="public/js/jquery-1.11.0.js"></script>
<script src="public/js/bootstrap.js"</script>
<script src="public/js/hci-friends.js"</script>

</body>
</html>
