<html>
<head>
	<title>Forgot Password</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

     
</head>
<body>



<div>
	<h1>Forgot Password</h1>
	<p>
		Type your email below and we will send you your password:
	</p>
	<input type="text">
	<input type="submit">
</div>

<script src="public/js/jquery-1.11.0.js"></script>
<script src="public/js/bootstrap.js"</script>
<script src="public/js/hci-friends.js"</script>

</body>
</html>

