<div>
	<h1>Forgot Password</h1>
	<p>
		Type your email below and we will help you reset your password:
	</p>
	<input type="text">
	<input type="submit" onclick="submission()">
</div>
<a class="btn btn-primary btn-lg btn-block" href="/">Back</a>

<script>
	function submission() {
		alert("An email has been sent to the specified address.");
	}
</script>
