<div>
	<a href="/">Homepage</a>
</div>

<div>
	<h1>Forgot Password</h1>
	<p>
		Type your email below and we will help you reset your password:
	</p>
	<input type="text">
	<input type="submit" onclick="submission()">
</div>

<script>
	function submission() {
		alert("An email has been sent to the specified address.");
	}
</script>
