<div id="login">
	<h1>Forgot Password</h1>
	<p style="color:#CCCCCC;">
		Type your email below and we will help you reset your password:
	</p>
	<input type="text" style="color:#1E0300;">
	<input class="button" style="height:48%;" type="submit" onclick="submission()">
	<br>
	<button class="button" href="/" style="position:relative; top:5%; height:150%;">Back</button>
	<br>
</div>

<script>
	function submission() {
		alert("An email has been sent to the specified address.");
	}
</script>
