<div id="login">
	<h1>Forgot Password</h1>
	<p style="color:#CCCCCC;">
		Type your email below and we will help you reset your password:
	</p>
	<div>
		<input type="text" style="color:#1E0300;">
	</div>
	<br>
	<div style="top:5%;">
		<input class="button" style="height:48%;" type="submit" onclick="submission()">
		<a href="/"><button class="button" style="position:relative; top:25%; height:150%;">Cancel</button></a>
	</div>
	<br>
</div>

<script>
	function submission() {
		alert("An email has been sent to the specified address.");
	}
</script>
