<h1>Homepage</h1>
<a href="/login">Login Page</a>
<a href="/register">Register Page</a>
<a href="/createrecipe">Create Recipe</a>
<a href="/viewrecipe">View Recipe</a>
<a href="/account">Account Page</a>