<h1>Login Page</h1><br><br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">U</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div><br>

<a class="btn btn-primary btn-lg btn-block" href="/">Login</a>
