{{#if error}}
  <div class="alert alert-danger" role="alert">No Such Account!</div>
{{/if}}
<div class="container" style="background-image:url(kitchen1blur.jpg); background-size:cover;">
<div id="login">
	<h1>Welcome to Simplicipe</h1>
	<form id="form">
		Username: <br>
		<input type="text" name="Username" id="user" onkeyup="verify()" style="color:#1E0300;"><br><br>
		Password: <br>
		<input type="password" name="Password" id="pass" onkeyup="verify()" style="color:#1E0300;"><br>
	</form>
	<br>
	<div id="logdiv">
		<a class="changeurl" href="/verify"><button class="button" type="button">Login</button></a>
		<a href="/"><button class="button" type="button">Cancel</button></a>
	</div>
	<br>
	<p style="font-size:18px; color:#CCCCCC;">
		Don't have an account? <span><a href="../register" style="color:orange;">Register with us here!</a></span>
	</p>
	<p style="font-size:18px; color:#CCCCCC;">
		Click here if <span><a href="/forgot" style="color:orange;">you forgot your password.</a></span>
	</p>
</div>
</div>
<script>
  function verify() {
		var usern = $("#user").val();
		var passw = $("#pass").val();
		if (usern === "" || passw === "")
		{
			$('.changeurl').attr("href", "../login/attempt");
		}
		else {
			$('.changeurl').attr("href", "../verify/" + usern + "/" + passw);
		}
  }
</script>

<style>
body {
	text-align: center;
}
</style>
