<html>
<head>
	<title>Register Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

     
</head>

<body>

<div id="register">
	<h1>Create Your Simplicipe Account</h1>
	<form id="form">
		Username: <br>
		<input type="text" name="name"><br><br>
		Email: <br>
		<input type="text" name="email"><br><br>
		Password: <br>
		<input type="text" name="password"><br><br>
		Retype Password: <br>
		<input type="text" name="password2"><br><br>
	</form>
	<div id="logdiv">
		<a><button class="button" type="button" onclick="accountConfirm()">Create</button></a>
		<a href="register"><button class="button" type="button">Clear</button></a>
		<a href="login"><button class="button" type="button">Cancel</button></a>
	</div>
	<script>
		function accountConfirm() {
			var txt;
			var dest;
			var a = confirm('Continue with this information?');
			if (a === false) {
				return;
			}
			else {
				location.replace("account");
			}
		}
	</script>
</div>

<script src="public/js/jquery-1.11.0.js"></script>
<script src="public/js/bootstrap.js"</script>
<script src="public/js/hci-friends.js"</script>


</body>

</html>
