<div id="register">
	<h1>Create Your Simplicipe Account</h1>
	<form id="form">
		Username: <br>
		<input type="text" name="name"><br><br>
		Email: <br>
		<input type="text" name="email"><br><br>
		Password: <br>
		<input type="text" name="password"><br><br>
		Retype Password: <br>
		<input type="text" name="password2"><br><br>
	</form>
	<div id="logdiv">
		<a href="index.handlebars"><button class="button" type="button">Create</button></a>
		<a href="register.handlebars"><button class="button" type="button">Clear</button></a>
		<a href="login.handlebars"><button class="button" type="button">Cancel</button></a>
	</div>
</div>
