body {
	background-color: #1E0300;
	color: #cccccc;
}

#menu {
	background-color: #B53C00;
	color: #CCCCCC;
	right:2%;
}

#login {
	height: 55%;
	position: relative;
	margin: auto;
	top: 150px;
	border-radius: 5%;
	background-color: rgba(181,60,0,0.8);
	text-align: center;
}

#login h1 {
	color: #CCCCCC;
	position: relative;
	padding-top: 1%;
}

#register {
	height: 55%;
	position: relative;
	top: 150px;
	border-radius: 5%;
	background-color: #B53C00;
	text-align: center;
}

#register h1 {
	color: #CCCCCC;
	position: relative;
	padding-top: 1%;
}

#form {
	width: 80%;
	position: relative;
	margin: auto;
	color: #CCCCCC;
	font-size: 110%;
}

#logdiv {
	width:100%;
	position: relative;
	margin: auto;
	padding-bottom: 1%;
}

.button {
	-webkit-transition-duration:0.4s;
	transition-duration:0.4s;										     
	cursor: pointer;
	border: 3px solid #1E0300;
	height: 50px;
	width: 90px;
	position: relative;
	margin: auto;
	background: #1E0300;
	font-size: 110%;
	color: #CCCCCC;
}

.button:hover {
	background-color: #B7B6B6;
}
